<div class="sections">
  <img class="globo" src="./assets/imgs/globo.png" />
  <a target="_blank" href="https://wa.me/5531991786094">
    <img class="wpp" src="./assets/imgs/wpp.png"
  /></a>

  <div class="container">
    <div class="frase-top">
      <span>Fortaleça Sua Presença Online</span>
    </div>
    <app-section>
      <div class="left-content">
        <h2>
          QUAL É A FORÇA<br />
          DA SUA MARCA?
        </h2>
        <p>Tenha um site Aethetic para conquistar a web.</p>
        <a target="_blank" href="https://wa.me/5531991786094">
          <button type="button">CRIE UM SITE agora</button></a
        >
      </div>
      <div class="right-content">
        <app-animation-head></app-animation-head>
      </div>
    </app-section>
    <app-categorias></app-categorias>
    <app-section>
      <div class="left-content bg-trans">
        <h3>
          Seu site é a porta digital do seu negócio. Vai além do design
          atrativo, é a base para mostrar sua marca, atrair clientes e
          impulsionar vendas.
        </h3>
      </div>
      <div class="right-content">
        <img class="porta" src="./assets/imgs/porta.png" />
      </div>
    </app-section>

    <app-section>
      <div class="left-content">
        <div class="bg-trans">
          <h3>
            Narrativas digitais envolventes, transformando sua marca em jornadas
            interativas.
          </h3>
        </div>
      </div>
      <div class="right-content">
        <app-animation-tv></app-animation-tv
        ><a target="_blank" href="https://wa.me/5531991786094">
          <button class="azul" type="button">COMECE SEU PROJETO</button></a
        >
      </div>
    </app-section>
    <app-section>
      <div class="left-content">
        <div class="bg-trans">
          <h3>
            Na Dolla, valorizamos a simplicidade e conveniência. Para um site
            poderoso que impulsiona sua marca!
          </h3>
        </div>
      </div>
      <div class="right-content">
        <img class="astro" src="./assets/imgs/astro.png" />
        <a target="_blank" href="https://wa.me/5531991786094"
          ><button class="verde" type="button">ENTRE EM CONTATO</button>
        </a>
      </div>
    </app-section>
  </div>
  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>
