.final-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6a53cb;
  padding: 20px;
}

.left {
  flex: 1;
  width: 25%; /* 1/3 */

  @media (max-width: 1080px) {
    svg {
      width: 100%;
    }
  }
}

.right {
  flex: 2;
  width: 75%; /* 2/3 */
  text-align: right;
}

.right svg {
  background-color: #fff;
  border: 1px solid #6a53cb;
}

.info-footer {
  background-color: #6a53cb;
  padding: 10px 10px 0px 10px;
  color: #fff;
}

.contato {
  border: 1px solid #6a53cb;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  padding: 10px 0;


  a {
    font-size: 6vw;
    font-family: Aeonik-Black;
    color: #fff;
    @media (max-width: 1080px) {
      font-size: 8vw;
    }
  }
}

p {
  font-family: Lubalin Graph Std Demi;
  font-size: 19px;
  color: #fff;
  text-align: center;
  text-shadow: none;

  @media (max-width: 1080px) {
    font-size: 12px;
    text-align: inherit;
  }
}

