<div class="img-topo-banner">
  <img src="./assets/imgs/projeto.png" />
</div>
<div class="section-banner">
  <div class="container-banner-fc">
    <div class="title">
      <h3>
        Orgânico<br />
        ou pago?
      </h3>
    </div>
    <div class="xadrez">
      <div class="text-xadrez">
      <p>Potencialize seu negócio com uma estratégia digital eficaz.</p>
      <a href="https://wa.me/5531991786094" target="_blank"> <button class="botao-xadrez">Comece agora</button></a></div>
      <div class="img-xadrez">
        <img src="./assets/imgs/xadrez.png" />
      </div>
    </div>
  </div>
</div>
